/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/
h4 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

li {
    font-family: 'Quicksand', sans-serif;
}

img {
    width: 30vw;
    margin: 0;
    padding: 0;
}

nav {
    background-image:
}

.jumbotron {
    padding: 0;
}


#hero h1 {
    color: white;

}

#hero img {
    width: 100vw;
    padding: 0;
}

body::before {
    content: "Default. mobile/under 576px. Deafult i Bootstrap.";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;

}


section {

    display: block;
}


#baggrund img {
    width: 100%;
    height: 160vw;

}

#flaske img {
    margin-left: 30vw;
}

#event img {
    width: 90vw;
}


/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {


    body::before {
        content: "'sm-': lig el. over 576px.";
    }
}

/* END "sm-" 576px and up */



/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {


    body::before {
        content: "'md': lig el. over 768px. ";
    }

    /* END "md-" 768px and up */
}





/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {


    body::before {
        content: "'lg': lig el. over 992px.";
    }

    /* END "lg-" 992px and up */
}



/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {


    body::before {
        content: "'xl': lig el. over 1200px.";
    }

    #flaske img {
        width: 15vw;
    }

    /* END "xl-" 1200px and up */
}
