/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/
/*.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}*/

body::before {
    content: "Default. mobile/under 576px. Deafult i Bootstrap.";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;
    color: black;

}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-right: 0;
}

/****************fonts*****************/

h1 {
    font-family: 'Stalemate', cursive;
    margin: 2vw 0;
    font-size: 4.2rem;
    margin-left: 2vw;

}

h2,
h3 {
    font-family: 'Stalemate', cursive;
    color: #e71527;
    margin-left: 2vw;
    font-size: 3rem;

}


p {
    font-family: 'Quicksand', sans-serif;
    margin-left: 2vw;

}

li {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;

}

nav h1 {
    font-family: 'Stalemate', cursive;
    margin: 0;

}

#hero h1 {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px black;
    font-size: 3rem;
}

.navbar-brand {
    font-size: 3rem;
    margin-right: 2rem;
}

#indgredienser li {
    font-family: 'Stalemate', cursive;
    color: #e71527;
    font-size: 2.2rem;
}

/**********************************************/

/**********************billeder****************/

li img {
    width: 7vw;
    padding: 1vw;
}

nav img {
    width: 15vw;
    border: black solid 0.2px;
    margin-right: 2rem;
}

.parallax-window {
    min-height: 150px;
    background: transparent;
}


.jumbotron {
    padding: 0;
    margin: 0;
}




/********************************************/

section {
    background-color: white;
    display: block;
}

#t {
    margin-top: 38vw;
}

#l {
    margin-top: 15vw;
}

#a {
    margin-left: 60vw;
    margin-top: -20vw;
}

#s {
    margin-left: 55vw;
    margin-top: 10vw;
}



button {
    background-color: #a2b824;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2vw;
}


/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {


    body::before {
        content: "'sm-': lig el. over 576px.";
    }
}

/* END "sm-" 576px and up */



/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {


    body::before {
        content: "'md': lig el. over 768px. ";
    }

    /* END "md-" 768px and up */
}





/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {


    body::before {
        content: "'lg': lig el. over 992px.";
    }

    #indgredienser {
        margin-left: 50vw;
        margin-top: 50vw;
    }

    #t {
        margin-top: 0vw;
    }

    #l {
        margin-top: 0vw;
    }

    #a {
        margin-left: 0vw;
        margin-top: 0vw;
    }

    #s {
        margin-left: 0vw;
        margin-top: 0vw;
    }

    li img {
        width: 5vw;
    }



    /* END "lg-" 992px and up */
}



/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {


    body::before {
        content: "'xl': lig el. over 1200px.";
    }

    .parallax-window {
        min-height: 300px;
        background: transparent;

    }

    nav img {
        width: 5vw;
        border: black solid 0.2px;
    }

    #hero h1 {
        font-size: 6rem;
    }


    li img {
        width: 4vw;
    }






    /* END "xl-" 1200px and up */
}
