/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/
/*.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}*/

body::before {
    content: "Default. mobile/under 576px. Deafult i Bootstrap.";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;
    color: black;

}

.container-fluid {
    padding: 0;
    margin: 0;
}

/****************fonts*****************/

h1 {
    font-family: 'Stalemate', cursive;
    margin: 2vw 0;
    font-size: 4.2rem;
    margin-left: 2vw;

}

h2,
h3 {
    font-family: 'Stalemate', cursive;
    color: #e71527;
    margin-left: 2vw;
    font-size: 3rem;

}

h4 {
    font-family: 'Quicksand', sans-serif;
    color: #f8afa1;
    text-shadow: 1px 1px black;
    margin-left: 2vw;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin-left: 2vw;

}

li {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;

}

nav h1 {
    font-family: 'Stalemate', cursive;
    margin: 0;

}

#hero h1 {
    color: #f8afa1;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px black;
    font-size: 3rem;
}

.navbar-brand {
    font-size: 3rem;
    margin-right: 2rem;
}

/**********************************************/

/**********************billeder****************/

li img {
    width: 7vw;
    padding: 1vw;
}

img {
    width: 40vw;
    margin: 0;
    padding: 0;
}


nav img {
    width: 15vw;
    border: black solid 0.2px;
    margin-right: 2rem;
}

.parallax-window {
    min-height: 150px;
    background: transparent;

}


.jumbotron {
    padding: 0;
    margin: 0;
}

#hero img {
    width: 100vw;
    height: 80vw;
    padding: 0;
    margin: 0;
}

#header_flaske img {
    width: 10vw;
    margin-top: 25vw;

}

#cocktail img {
    margin-top: 6vw;
}

#om img {
    width: 30vw;

}

#event img {
    width: 90vw;
}

/********************************************/

section {
    background-color: white;
    display: block;
}




#halv_cupcake {
    margin-top: 20vw;
    height: 107vw;
    background-size: contain;
    background-image: url(../imgs/halv_cupcake.png);
}


#cupcake {
    display: none;
    background-size: cover;
    background-image: url(../imgs/cupcake.png);

}


button {
    background-color: #a2b824;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2vw;
}

/**********.rotate-scale-up {
    animation: rotate-scale-up 0.65s linear both;
}

@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0);
    }

    50% {
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        transform: scale(1) rotateZ(360deg);
    }
}*************/

/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {


    body::before {
        content: "'sm-': lig el. over 576px.";
    }
}

/* END "sm-" 576px and up */



/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {


    body::before {
        content: "'md': lig el. over 768px. ";
    }


    #halv_cupcake {
        display: none;
    }


    #cupcake {
        height: 64vw;
        background-size: contain;
        background-image: url(../imgs/cupcake.png);
        display: block;
        margin-top: 20vw;
    }

    /* END "md-" 768px and up */
}





/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {


    body::before {
        content: "'lg': lig el. over 992px.";
    }

    #halv_cupcake {
        display: none;
    }


    #cupcake img {
        height: 100vw;
        widows: 50vw;
        background-size: cover;
        background-image: url(../imgs/cupcake.png);
        display: block;

    }

    /* END "lg-" 992px and up */
}



/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {


    body::before {
        content: "'xl': lig el. over 1200px.";
    }

    .parallax-window {
        min-height: 500px;
        background: transparent;

    }

    nav img {
        width: 5vw;
        border: black solid 0.2px;
    }

    img {
        width: 20vw;

    }

    #hero h1 {
        font-size: 6rem;
    }

    #hero img {
        height: 70vw;
    }



    li img {
        width: 4vw;
    }


    #baggrund img {
        width: 100%;
        height: 70vw;

    }

    #flaske img {
        width: 15vw;
    }

    #halv_cupcake {
        display: none;
    }


    #cupcake {
        height: 60vw;
        background-size: contain;
        background-image: url(../imgs/cupcake.png);
        display: block;


    }

    #event img {
        width: 40vw;
    }

    /* END "xl-" 1200px and up */
}
